name: Build and Release

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: Build all binaries
        run: make build-all

      - name: Upload Linux build
        uses: actions/upload-artifact@v4
        with:
          name: speedup-linux-amd64
          path: bin/speedup_linux

      - name: Upload Windows build
        uses: actions/upload-artifact@v4
        with:
          name: speedup-windows-amd64.exe
          path: bin/speedup_windows.exe

      - name: Upload MacOS build
        uses: actions/upload-artifact@v4
        with:
          name: speedup-darwin-amd64
          path: bin/speedup_darwin

  release:
    name: Create Release
    if: github.event_name != 'pull_request'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write # Only grant write permission to this specific job

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Delete the existing pre-release
        run: gh release delete dev-build --cleanup-tag --yes --repo $GITHUB_REPOSITORY
        env:
          GITHUB_TOKEN: ${{github.token}}

      - name: Create new release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: artifacts/*/*
          body: |
            **自动构建版本**
            构建时间: ${{ github.event.head_commit.timestamp }}
            提交信息: ${{ github.event.head_commit.message }}
            提交SHA: ${{ github.sha }}
          name: Development build
          prerelease: true
          removeArtifacts: true
          tag: dev-build
